<body>
    <p>Hello {{username}}
    <br>
    We received a request to reset your password.If you did
    to reset your password, click the button below:</p>

    <a href="{{reset_password_url}}" style="border-radius: .45em; margin-top: 1em; display: block; width: fit-content; padding: .5em 1em; background-color: #2563eb; color: white; text-decoration: none;">
        Reset Password
    </a>
    <br>
    <p>This link will be expired in 24 hours</p>
    <br>
    <p>Powered by FastShip</p>
</body>